@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
   box-sizing: border-box;
}

body {
   font-family: "Rubik", sans-serif;
   text-align: center;
}

.heading-primary {
   font-size: 6.4rem;
   color: #2e2e2e;
   margin-top: 3.2rem;
   margin-bottom: 3.2rem;
}

.container {
   /* display: flex;
   gap: 6.4rem;
   justify-content: center; */
}

.controls {
   display: flex;
   flex-direction: column;
   gap: 3.2rem;
   position: absolute;
   top: 50%;
   left: 110%;

   transform: translateY(-50%);
}

.btn {
   font-family: inherit;
   font-size: 1.8rem;
   border: none;
   padding: 1.2rem 5.2rem;
   border: 0.2rem solid #2e2e2e;
   border-radius: 1.2rem;
   cursor: pointer;
   color: #2e2e2e;
   background-color: #fff;
   text-wrap: nowrap;
}

.grid {
   margin: 0 auto;
   width: 75rem;
   height: 75rem;
   display: flex;
   flex-direction: column;
   box-shadow: 0 1.2rem 2.4rem #0000005a;

   position: relative;
}

.row {
   background-color: red;
   flex: 1;
   display: flex;
}

.square {
   background-color: #fff;
   flex: 1;
}

.square--colored {
   background-color: teal;
}
